body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

header {
  padding: 20px;
  background: #00cc00;
}

.enrique {
  display: inline-block;
}

main {
  background-image: url("assets/gallery/Untitled_(13-07-26).png");
}

.mainsmain {
  width: 64%;
  margin: 0 auto;
  background-image: linear-gradient(#dc143c, #3cb371);
}

footer {
  padding: 20px;
  background: #00cc00;
  text-align: center;
}
