body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

header {
  padding: 20px;
  background: #00cc00;
  display: flex;
}

main {
  width: 64%;
  margin: 0 auto;
  background-image: linear-gradient(right, #343434, #963257, #e26292, #963257)
}

footer {
  padding: 20px;
  background: #00cc00;
  text-align: center;
}
